
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding-top: 60px;
}

header.hero {
    text-align: center;
    background: url('fondo.png') center/cover no-repeat;
    color: white;
    padding: 40px 20px;
}

.hero-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    margin-bottom: 20px;
}

.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #000000;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #002F13;
    color: white;
    margin-top: 40px;
}


.hero-text {
    position: absolute;
    bottom: 20px;
    right: 30px;
    text-align: right;
    color: black;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 6px;
}



.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffffd9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}



.content section {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
